<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title> @ViewBag.Title | @ViewBag.sysConfig["cfg_webname"]</title>
	@RenderPage("_Header.cshtml")
</head><!--/head-->

<body>
    @RenderPage("_Page_Header.cshtml")
    @RenderBody()
    <!--/#footer-->
    @RenderPage("_Page_Footer.cshtml")
    <script type="text/javascript">
        var pageInfo = {
            topId:@ViewBag.topId,
        };
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1d9af8011028cf354af97bc5bd86d4e6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();      
    </script>
    @RenderPage("_Footer.cshtml")
</body>
</html>

