@{
    Layout = "_Layout.cshtml";
	var fllist=ViewBag.dataHelper.Adverts("").Records;
}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>开源的GGCMS</h1>
                        <p>GGCMS正式开源，欢迎使用</p>
                        <p>前端后端完全分离，更灵活、更方便、更安全</p>
                        <p>自定义风格模板，满足您的各种需求</p>
                    </div>
                    <img src="@ViewBag.pageTmpl.stylePath/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="@ViewBag.pageTmpl.stylePath/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="@ViewBag.pageTmpl.stylePath/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="@ViewBag.pageTmpl.stylePath/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="@ViewBag.pageTmpl.stylePath/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="@ViewBag.pageTmpl.stylePath/images/aspNet.png" alt="">
                        </div>
                        <h2>Asp.net</h2>
                        <p>后台采用Asp.net API开发，部署更加灵活方便</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="@ViewBag.pageTmpl.stylePath/images/angular.svg" alt="">
                        </div>
                        <h2>Angular v4</h2>
                        <p>管理页面采用Angular v4 + Bootstrap 开发，可与网站分开部署</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="@ViewBag.pageTmpl.stylePath/images/opensource_icon.png" alt="">
                        </div>
                        <h2>Open Source</h2>
                        <p>本站代码已开源，欢迎下载使用</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">风格模板灵活多变</h1>
                            <p>模板系统采用Asp.net MVC设计,使用Razor模板引擎，可使用任何前端技术.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common hidden">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="@ViewBag.pageTmpl.stylePath/images/icon-aspnetmvc.png" class="img-responsive img-rounded" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Razor模板引擎</h2>
                        <P>Razor 语法赋予所有 ASP.NET 的能力，但是使用了简化过的语法。服务器代码能够在页面被发送到浏览器之前创建动态的 HTML 内容。</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>风格模板导入导出</h2>
                        <P>风格模板支持导入导出，导出格式为标准的zip文件，备份分享更加方便。</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="@ViewBag.pageTmpl.stylePath/images/import2.jpg" class="img-responsive img-rounded" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="@ViewBag.pageTmpl.stylePath/images/maxresdefault.jpg" class="img-responsive img-rounded" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>更多精彩，敬请期待</h2>
                        <P>更多精彩功能，还在开发中，敬请期待！...</P>
                    </div>
                </div>
            </div>
			@foreach (var item in fllist){
			<div> @item.Id , @item.Title  </div>
			}
        </div>
    </section>
     <!--/#features-->

