@{
    Layout = "_Layout.cshtml";
    var parentCategory=ViewBag.dataHelper.Categories(ViewBag.category.ParentId);
}   <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">@ViewBag.Title | @ViewBag.sysConfig["cfg_webname"]</h1>
                            <p> @ViewBag.category.Description</p>
                        </div>                                                                                
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
					@Html.Raw(@ViewBag.category.Content)
                 </div>
            </div>
        </div>
    </section>
    <!--/#blog-->
